/galtolit/nbproject/private/
/galtolit/build/
/ifdemo1/nbproject/private/
/ifdemo1/build/
/fordemo/nbproject/private/
/fordemo/build/
/ShortCircuit/nbproject/private/
/ShortCircuit/build/
/Casting/nbproject/private/
/Casting/build/
/TruthTable/nbproject/private/
/TruthTable/build/
/Guess Letter/nbproject/private/
/Guess Letter/build/
/If-else-if ladder/nbproject/private/
/If-else-if ladder/build/
/switch/nbproject/private/
/switch/build/
/Java_Help_Sys/nbproject/private/
/Java_Help_Sys/build/
/WhileLoop/nbproject/private/
/WhileLoop/build/
/powersOf2/nbproject/private/
/powersOf2/build/
/DoWhile/nbproject/private/
/guessingGame/nbproject/private/
/guessingGame/build/
/BreakLoops/nbproject/private/
/BreakLoops/build/